{%extends "admin/index.html"%}
{%from "macros.html" import render_pagination%}



{% block title %}
Admin - courses
{% endblock %}

{% block admin %}
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>name</th>
      <th>author</th>
      <th>ctrl</th>
    </tr>
    <body>
      {% for course in pagination.items %}
      <tr>
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.author.username }}</td>
        <td>
          <div class="btn-group" role="group">
              <a href="{{ url_for("admin.edit_course",course_id=course.id)}}" type="button" class="btn btn-default" title="bianji">
              <span class="glyphicon glyphicon-pencil" title="bianji" aria-hidden="true"></span>
            </a>
            <a href="" type="button" class="btn btn-default" title="delete">
              <span class="glyphicon glyphicon-trash" title="delete" aria-hidden="true"></span>
            </a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </thead>
</table>

{{ render_pagination(pagination, 'admin.courses') }}
{% endblock %}

{% block operation %}
<a href="{{ url_for('admin.create_course') }}" type="button" class="btn btn-primary">
  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
+class  
</a>
{% endblock %}
