<h1>hello jinjia</h1>
   <p>name:{{ course.name }}</p>
   <p>user count: {{ course.user_count }}</p>
   <p>teacher:{{course.teacher }}</p>
   <p>is_private:{{ course.is_private }}</p>
   <p>not exist:{{course.not_exist }}</p>
{% for tag in course.tags %}
    <span>{{ tag }}</span>
{% endfor %}



{% extends "base.html"%}
{% from 'macro.html' import course_item %}

{% block header %}
<h1>header</h1>
{%endblock%}


{% block content %}
<p> teach email:{{course.teacher.email |hidden_email }}</p>
<p>course tag length:{{course.tags|length}} </p>

{% endblock %}
