{% extends "base.html" %}
{% from "macros.html" import render_form %}

{% block title %}
Register
{% endblock %}

{% block body %}
    <div class="form">
    <h2>reg</h2>
    {{ render_form(form,url_for('front.register'))}}
    </div>
{% endblock %}

{#
  <h2>zhuce</h2>
  <form method="POST" action="{{ url_for('front.register') }}">
    {{ form.csrf_token }}

    <div class="form-group">
      {{ form.username.label }} {{ form.username(class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.email.label }} {{ form.email(class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.password.label }} {{ form.password(class='form-control') }}
    </div>

    <div class="form-group">
      {{ form.repeat_password.label }} {{ form.repeat_password(class='form-control') }}
    </div>

    {{ form.submit(class='btn btn-primary', type='submit') }}
  </form>
{% endblock %}
#}
