{#
<!doctype html>

<html lang="zh-CN">
    <head>
        <meta charset='Utf-8'/>
        <title>Index</title>
        <link rel='stylesheet' href='static/main.css'>
    </head>
    <body>
        {% for course in courses %}
            <p><{{ course.name}} - {{ course.author.username}}/p>
        {% endfor %}

    </body>
    <script src='static/main.js'></script>
</html>
#}  
{%extends 'base.html'%}
{% block title %}Home{% endblock %}
{%block body%}
    {%for course in courses %}
    <p>{{ course.name }}-{{ course.author.username }}</p>
    {%endfor%}
  {%endblock%}
