a,
a:hover,
a:visited{
text-decoration:none !importtant;}

.course__name,
.course__description{text-overflow:ellipsis;
text-overflow:ellipsis;
overflow:hidden;
white-space:nowrap}

.course img{
height:160px !important;}
.nav-pagination{
text-align:center;}
